* {
    box-sizing: border-box;
    /* border: solid red 1px; */
}

:root {
    font-size: 16px;
    font-family: sans-serif;
}

body {
    background: linear-gradient(to right, #31526e, #3a86bf);
    display: flex;
    flex-direction: column;
    margin: 0;
    align-items: center;
}

main {
    width: 80vw;
    max-width: 50rem;
    min-width: 25rem;
    border-radius: .5rem;
    margin-top: 2rem;
    padding: 1rem;
    background-color: white;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

label,
input,
textarea {
    display: block;
    width: 100%;
    resize: none;
}

input,
textarea {
    padding: .5rem;
    margin-bottom: 1rem;
    background-color: #f3f5f7;
    border: solid 1px #3a86be;
    font-size: 1rem;
    border-radius: .5rem;
}

label,
h3 {
    padding-bottom: .5rem;
    font-weight: 600;
    color: #164b9d;
}

dialog {
    padding: 0;
    border-radius: 1rem;
    border: none;
}

dialog .container {
    text-align: center;
    min-width: 24rem;
    font-size: 1.5rem;
    color: white;
    padding: 1.5rem 1.5rem 3rem;
    flex-direction: column;
    display: flex;
    background: linear-gradient(-135deg, #5596d7, #7f48ac);
}

dialog button {
    font-size: 2rem;
    align-self: flex-end;
    background-color: transparent;
    border: none;
    color: #ec423e;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.btn {
    margin-top: 2rem;
    display: block;
    width: 100%;
    padding: 1rem;
    background: linear-gradient(to right, #fa9800, #f8383f);
    color: #fff;
    border: none;
    border-radius: 2rem;
    font-size: 1rem;
    cursor: pointer;
}
.btn:hover {
    background: linear-gradient(to right, #d88200, #db2e33);
}
h1 {
    color: #dd4944;
    font-size: 2.5rem;
}

h2 {
    color: #31526e;
    font-size: 2.2rem;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.3rem;
}

h5 {
    font-size: 1.1rem;
}

h6 {
    color: #dd4944;
    font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
    margin: .6rem auto;
    text-align: center;
}



#invitation-card .container {
    padding: 3rem;
    border: solid.5rem #dd4944;
}

#invitation-card h3 {
    color: #000;
    font-style: italic;
    font-weight: 400;
}